
# if you wan to read about code ownership: 
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-file-location

#if you want to own any code contect yonathan
/CODEOWNERS/@JonnyGov

#yonathan owes:
/Client/src/WindowApp/@JonnyGov
/Client/src/GUI/MainMenu.fxml/@JonnyGov
/Client/src/GUI/MainMenuForm.java/@JonnyGov
/Client/src/GUI/LogInForm.fxml/@JonnyGov
/Client/src/GUI/LogInForm.java/@JonnyGov
