
# if you want to read about code ownership: 
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-file-location

#if you want to own any code contact yonathan
/CODEOWNERS/@Jonny Gov

#yonathan owes:
#/Client/src/WindowApp/@Jonny Gov
#/Client/src/GUI/MainMenu.fxml/@Jonny Gov
#/Client/src/GUI/MainMenuForm.java/@Jonny Gov
#/Client/src/GUI/LogInForm.fxml/@Jonny Gov
#/Client/src/GUI/LogInForm.java/@Jonny Gov
#comment
